.vscode
/log*
/old
/env
__pycache__
.ipynb_checkpoints
/progress
/results*
/variables
core.python-*
/data
create_exampledata.py
fixmodel.py
train_model_MPRAGE.py
mae_by_modalities.py
remove_file_from_repo.sh
shands-brainage.sh
shands-brainage.code-workspace
create_data.py
obtain_results.py
obtain_results_originalDBN.py
selected_results.py
modality_comparisons.py.py
